<settings>

<servers>
  <server>
    <id>nextwork-devops-phil-nextwork-devops-phil</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>nextwork-devops-phil-nextwork-devops-phil</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>nextwork-devops-phil-nextwork-devops-phil</id>
        <url>https://nextwork-devops-phil-546653671217.d.codeartifact.eu-central-1.amazonaws.com/maven/nextwork-devops-phil/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<mirrors>
  <mirror>
    <id>nextwork-devops-phil-nextwork-devops-phil</id>
    <name>nextwork-devops-phil-nextwork-devops-phil</name>
    <url>https://nextwork-devops-phil-546653671217.d.codeartifact.eu-central-1.amazonaws.com/maven/nextwork-devops-phil/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</settings>